.App {
    width: 1440px;
    height: 1024 px;
    padding: 0 0 98px;
    background-color: #fcfcfc;
}

.Rectangle {
    width: 98px;
    height: 31px;
    padding: 3px 16px 0 17px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
}

.My-faves {
    width: 65px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
}  